body{
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    background: #b3c6ff;
    color: #222;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1d1d;
    color: white;
    padding: 10px 30px;
}
.logo {font-size: 1.4em; font-weight: bold;}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}
.nav-links li{
    cursor: pointer;
    transition: 0.3s;
}
.nav-links li:hover{
    color: #ffcc00;
}
#strategySelect{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}
.form-section{
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.form-section form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-section input, .form-section textarea, .form-section select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.form-section button{
    background: #0800ff;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}
.form-section button:hover{
    background: #5ce600;
}
.articles-section{
    width: 80%;
    margin: 20px auto;
}
.article-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.article-content{
    flex: 1;
}
.article-card img{
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 20px;
}
.subscribe-btn{
    background: #ff0000;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}
.subscribe-btn:hover{
    background: #9a0000;
}
#toast-container{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.toast{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #fff;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    animation: fadeInOut 3s ease forwards;
    margin-top: 10px;
}
.toast:nth-child(odd){
    background: #fff9e6;
}
@keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
@keyframes fadeout {from {opacity: 1;} to {opacity: 0;}}

